.container-footer {
display: flex;
flex-direction: column;
min-height: 100vh;
}

.top {
display: flex;
}

.top-left {
background-color: #ffffff;
padding: 20px;
border: 1px solid #ffffff;
flex: 1; 
}

.top-right {
background-color: #ffffff;
padding: 20px;
border: 1px solid #ffffff;
width: 250px; 
}

.bottom {
display: flex;
flex: 1;
background-color: #ffffff;
align-items: center; 
justify-content: center; 
}

.bottom-inner {
display: flex;
flex-direction: column;
align-items: center; 
width: 80%;
}

.palette-logo {
font-size: 24em;
}

.bottom-nav {
margin-top: 20px;
text-align: center;
font-size: 0.8em;
}

@media all and (max-width: 2804px) {
    .palette-logo {
        font-size: 24em;
        }
    .top-right {
        padding: 20px;
        width: 250px; 
        }
    }

@media all and (max-width: 2280px) {
    .palette-logo {
        font-size: 20em;
        }
    .top-right {
        padding: 12px;
        width: 200px; 
        }
    }
  
@media all and (max-width: 1480px) {
    .palette-logo {
        font-size: 14em;
        }
    .top-right {
        padding: 4px;
        width: 120px;
        font-size: 1.1em;
        }
    .top-left {
        padding: 4px;
        width: 120px;
        font-size: 1.1em;
        }
    }

@media all and (max-width: 767px) {
    .palette-logo {
        font-size: 8em;
        }
    .top-right {
        padding: 4px;
        width: 80px;
        font-size: 0.7em;
        }
    .top-left {
        padding: 4px;
        width: 100px;
        font-size: 0.7em;
        }
    }
