.content-area-main {
  padding: 60px 0;
  background-color: darkgrey;
  justify-content: space-around;
}

/**
 * Smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/**
 * Layout
 */

.section {
  color: #ffffff;
  height: 75vh;
  margin: 0;
  scroll-margin-top: 1em;
}

#a {
  background-color: #a8c5de;
}
#b {
  background-color: #9fdea6;
}
#c {
  background-color: #dcb28c;
}
#d {
  background-color: #dd93e8;
}

h2 {
  margin: 0;
  padding: 0;
}

/**
 * Sticky navigation
 */
.sticky {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/**
 * Display lists on a single line.
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.list-inline {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.list-inline > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.woff2) format(.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
