.content-area-main {
  padding: 60px 0;
  background-color: darkgrey;
  justify-content: space-around;
}

/**
 * Smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/**
 * Layout
 */

.section {
  color: #ffffff;
  height: 75vh;
  margin: 0;
  scroll-margin-top: 1em;
}

#a {
  background-color: #a8c5de;
}
#b {
  background-color: #9fdea6;
}
#c {
  background-color: #dcb28c;
}
#d {
  background-color: #dd93e8;
}

h2 {
  margin: 0;
  padding: 0;
}

/**
 * Sticky navigation
 */
.sticky {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/**
 * Display lists on a single line.
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.list-inline {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.list-inline > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #4A614A;
}

.container-feature {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 10px;
  background-color: #FFFFFF;
}

.feature {
  display: flex;
  flex-basis: 22%;
  text-align: left;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  object-fit: cover;
}

.feature-pure {
  height: 5vh;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  margin: 10%;
}

.feature-icon {
  font-size: 30px;
  color: #4A614A;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0;
  padding-right: 5px;
}

.feature-name {
  font-family: 'Playfair Display', serif;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: space-evenly;
  align-items: flex-start;
  object-fit: cover;
  flex-wrap: nowrap;
  padding-right: 40px;
}

.feature p {
  font-size: 16px;
  color: #666;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media all and (max-width: 767px) {
  .feature-icon {
      font-size: 1.5em;
      }
  .feature-name {
      font-size: 9px;
      padding-right: 20px;
      }
      .container-feature {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
      }
  }

